/* Global */
body {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace !important;
}
.top_header {
    background: #151515 url(../images/bkg.png) 0 0;
}
/* Change logo */
.top_header img {
    display: none
}
.top_header a[href="./"]:first-child {
    font-size: 30px;
    line-height: 1.5;
    margin: 0 0 0 -40px;
    font-weight: bold;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
    margin-left: auto;
}
.top_header a[href="./"]:first-child:hover {
    text-decoration: none;
}
.top_header a[href="./"]:first-child:before {
    content: './ ';
}
.top_header a[href="./"]:first-child:after {
    content: 'beon.vip';
}
.top_header table {
    margin: auto;
}

/* Blog */
.card {
    background-color: transparent;
}
.card-title a {
    font-size: 24px;
    font-weight: normal;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
}
.seBlogColumnRight, .profile_leftside .profile_photo, td.header, td.profile {
    border: 1px dashed #b5e853;
}
div.content {
    padding: 0;
}
div.content .page_header {
    text-align: center;
}
.profile_leftside .profile_menu, .content table {
    border: none;
    margin: 0;
}
.profile_leftside table, .profile_rightside table {
    margin-bottom: 0 !important;
}
.profile_rightside table td {
    padding: 0;
}
.profile_menu1 {
    padding: 0;
}
#profile_profile #actions {
    padding-bottom: 0 !important;
}
td.profile_menu1 a, td.profile_menu1 a:hover {
    background-image: none;
    background-color: transparent;
    border-bottom: 0;
}
.card:first-of-type .post, div.profile_blogentry {
    border-top: 1px dashed #b5e853;
}
.post_container, div.profile_action {
    border-bottom: 1px dashed #b5e853;
}
.seBlogEntryDate, .seBlogEntryCategory {
    font-size: 12px;
}
div.profile_comment_author, div.profile_comment_date {
    background: none !important;
    border-top: 1px solid #b5e853;
}
#profile_tabs_profile {
    border-left: 1px dashed #b5e853;
}
td.profile_tab a, td.profile_tab a:hover, td.profile_tab2 a, td.profile_tab2 a:hover {
    background-color: transparent;
    background-image: none;
    border: 1px dashed #b5e853;
    border-left: none;
    padding: 7px 10px;
}
td.profile_tab2 a, td.profile_tab2 a:hover, td.profile_tab a:hover {
    background-color: #b5e853;
}